.Rproj.user
.Rhistory
.RData
.Ruserdata

code and instructions/archive/
code and instructions/misc/
data/processed/sensitivity analysis/nevi zip code rescale features
figures and tables/figs/archive
figures and tables/figs/poster
figures and tables/tabs/archive